.navbar.navbar-inverse.nav
	.navbar-inner
		.container
			%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.brand{href: ""} Jugo Tic Tac Toe
			.nav-collapse.collapse
				%ul.nav
					%li.divider-vertical
					%li
						%a{href: "/"}
							%i.icon-th.icon-white
							Juego
					%li.divider-vertical
					%li
						%a{href: "/usuarios"}
							%i.icon-list.icon-white
							Ranking
					%li.divider-vertical
					.pull-right
						%ul.nav.pull-right
							-if (!usuario)
								%form.form-search{:action=>"/",:method=>"post"}
									.input-append
										%input{:type=>"text",:name=>"usuario[username]",:placeholder=>"Nombre Usuario"}
										%input{:type=>"hidden",:name=>"usuario[partidas_ganadas]",:value=>"0"}
										%input{:type=>"hidden",:name=>"usuario[partidas_perdidas]",:value=>"0"}
										%input{:type=>"hidden",:name=>"usuario[partidas_empatadas]",:value=>"0"}
										%input{:type=>"hidden",:name=>"usuario[partidas_jugadas]",:value=>"0"}                 
										%button.btn{type: "submit", :value=>"Jugar!"} Jugar!
							-else
								%form.form-search.right{:action=>"/",:method=>"post"}
									.input-append
										%label.saludo Hola, #{usuario}
										%input{:type=>"hidden",:value=>"1",:name=>"logout"}
										%button.btn{:type=>"submit",:value=>"Salir"} Salir
.screen
	.gameboard
		- HORIZONTALS.each do |row| 
			.gamerow
				- row.each do |p|
					%a(href=p)
						%div{:id => "#{p}", :class => "cell #{b[p]}"}
		.message
			%h1= m

